*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f5f5;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 18px 40px;
    background: linear-gradient(90deg, #05052d, #0a0a3f);
    width: 100%;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    margin-right: 40px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 26px;
    margin-left: 320px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff4d4d;
}

.mrp-btn {
    background: #ff1e1e;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    transition: 
        background 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.mrp-btn:hover {
    
    color: red;
    background: linear-gradient(90deg, #05052d, #0a0a3f);
}

.dropdown a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.bg {
    width: 100%;
    height: 100%;       
    overflow: hidden;
}

.bg img {
    width: 100%;
    height: 100%;        
    object-fit: cover;   
    display: block;
}


.container {
  display: flex;         
  width: 100%;
  min-height: 150vh;
 }

.left {
  width: 50%;
  background: #ff8000;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: -1;   
}

.right {
  width: 50%;
  background: #ffffff;
  padding: 80px 60px;
}

.right p {
  font-size: 18px;
  line-height: 1.7;
  color: #000;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    display: flex;
    height: 50vh;
  }
}

.nav-icons {
  position: relative;
  top: 100px;

  width: 30px;
  height: 0%;
  background: white;
  color:black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s ease;
}

.left img{
  width: 740px;
  height: 690px;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background-color: #ffffff;
  padding: 40px 60px;
}

.footer-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 130px;
  padding: 30px 50px;
}
.footer-col {
  flex: 1;
  font-size: 14px;
  line-height: 1.6;
}

.footer-col p {
  margin: 6px 0;
}

.footer-col strong {
  color: #000;
  font-weight: 600;
}

.mt {
  margin-top: 16px;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.social-icons i {
  width: 32px;
  height: 32px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.social-icons i:hover {
  background: #ff0404;
}

.footer-col strong:hover{
  color: #ff0404;
}

.tagline {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  pointer-events: none;
}